
$--main: #344648;
$--bgColor: #7d8e95;
$--primary: #fbe0c3;
$--secondary: #fcccb4;
$--default: rgb(224, 224, 224);
// fonts
$--Noto:  'Noto Sans JP', sans-serif;
$--Righteous:  'Righteous', cursive;
$--Ubuntu: 'Ubuntu Mono', monospace;